name: Test Setup Environment

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Environment
        uses: JxJuly/github-actions/setup-environment@main
        with:
          pnpm_version: '10'